.bgRed {
    background-color: blue;
    height: 100px;
    width: 100px;
}

.flexbox {
    display:flex;
    border:1px solid black;
    height: 90vh;
    width: 90vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    /* align-content: center; */
}

.item {
    background-color: lightblue;
    height: 100px;
    width: 100px;
    margin: 5px;
}

#b1 {
    order:2;
    flex:3;
}

#b3 {
    order: 3;
    flex:2;
}

#b5 {
    align-self: center;
}